extends base.html

block styles
  link(rel='stylesheet' href='/static/css/all.css')

block content
  .index
    .page
      img#logo(src="http://54.64.122.237/founder/material/logo.svg", alt="")
      //img#red_1(src="http://54.64.122.237/founder/material/red_1.png", alt="")
      //
        form(action="/" method="post")
          input#all(
            type="button"
            value="顯示所有資料"
            alt="Submit"
            )
        form(action="/" method="post")
          input#didnt_send(
            type="button"
            value="顯示未寄資料"
            alt="Submit"
            )
      table
        tr
          th.name 收件人
          th.phone 手機
          th.dir 地址
          th.addr
          th.item 品項
          th.choice 選擇
          th.cloth1 衣1
          th.cloth12
          th.cloth2 衣2
          th.cloth22
        each item in rows
          tr
            each prop in item
              td #{prop}
