extends base.html

block styles
  link(rel='stylesheet' href='/static/css/details1.css')

block content
  .index
    .page
      img#logo(src="//www.gongsheng228.tw/founder/material/logo.svg", alt="")
      img#red_1(src="//www.gongsheng228.tw/founder/material/red_1.png", alt="")
      img#red_2(src="//www.gongsheng228.tw/founder/material/red_2.png", alt="")
      h2#written 已填資料
      h2#confirm 確認資料
      h3#item 回饋項目
      h3#send_w 寄送資料
      h3#send_c 寄送資料
      h4#h4_item=perk
      h4#h4_send_w 收件人：#{recipient}
        br
        |手機：#{phone}
        br
        |郵遞區號：#{zip}
        br
        |地址：#{address}
      form(action="/thanks" method="post")
        h4#h4_send_c 收件人：
          input#name(name='recipient' value=recipient)
          br
          |手機：
          input#phone(name='phone' value=phone)
          br
          |郵遞區號：
          input#dirt(name='zip' value=zip)
          br
          |地址：
          input#addr(name='address' value=address)
        input(name='token', type='hidden', value=token)
        input#send(type="submit",value="送出",alt="Submit")
